extends _layouts/base

include _modules/link/link

block content
  .container
    .yeogurt-info
  h1 Rent-A-Dog Foundation
  p.
  Spreading the love of Dogs, even just for a short time. 
  p
  img.logo(src="images/pembroke-welsh-corgi.jpg", width="150px")
  p.
  A family friendly foundation founded for the purpose of not only helping families find a dog but finding a home for dogs and getting them off the streets.
  p.
  block footer
  footer
  ul
  li
  a(href="/contact") Contact
  li
  a(href="/orderform") Order Form
  li
  a(href="/dogs") Check out dogs here!
  li
  a(href="/menupage") Pick your dog here!
  li.
  p.
  Rent-A-Dog Foundation 2017
  footer



  code.version v2.0.1
