extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  .navbar
    a(href='/') Home
    a(href='/contact') Contact
    a(href='/dogs') Dog Selection
    a(href='/orderform') Order form
    a(href='/menupage') Pick Dog Here!
  h1 Would you like to rent your own dog or just have some general questions?
  
  p Please fill out some contact information and we will reach you as soon as possible!

  p Name
  input(type='text', name='sessionID', value=valueID)

  p Phone Number
  input(type='text', name='sessionID', value=valueID)

  p E-mail Address
  input(type='text', name='sessionID', value=valueID)
  
  
  p 
  img.logo(src="https://images.megapixl.com/4355/43558615.jpg", width="300px")
     
  .navbar-b
    a(href="/") Home
    a(href="/contact") Contact
    a(href="/orderform") Order Form
    a(href="/dogs") Check out dogs here!
    a(href="/menupage") Pick your dog here!
    p.
      Rent-A-Dog Foundation 2017
