extends _layouts/base

include _modules/link/link

block content
  .container
    .yeogurt-info
  .navbar
    a(href='/') Home
    a(href='/contact') Contact
    a(href='/dogs') Dog Selection
    a(href='/orderform') Order form
    a(href='/menupage') Pick Dog Here!
    
   
  .hero-image
   .hero-text
    p.
      Spreading the love of Dogs, even just for a short time.
    p.
      A family friendly foundation founded for the purpose of not only helping families find a dog but finding a home for dogs and getting them off the streets.

  .navbar-b
    a(href="/") Home
    a(href="/contact") Contact
    a(href="/orderform") Order Form
    a(href="/dogs") Check out dogs here!
    a(href="/menupage") Pick your dog here!
    p.
      Rent-A-Dog Foundation 2017
  



  code.version v2.0.1
