extends _layouts/base

include _modules/link/link

block content
  .container
    .yeogurt-info
      h1 Rent-A-Dog Foundation
      p.
       Spreading the love of Dogs, even just for a short time.
      p
        img.logo(src="images/pembroke-welsh-corgi.jpg", width="150px")
  code.version v2.0.1
