extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  .navbar
    a(href='/') Home
    a(href='/contact') Contact
    a(href='/dogs') Dog Selection
    a(href='/orderform') Order form
    a(href='/menupage') Pick Dog Here!
  h2 Here is where you'll fill out your form so you can get one step closer to renting your dog!
  p Order form
  a(href="https://docs.google.com/document/d/1qaxuYxzL7WShLL9Zgjz0B4QmfBcmYlFZRtVc80oYy5I/edit") Fill out Order Form here!
  p 
  img.logo(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbUZIYN32mMAchWve04W-tifisRp72GKVbihv26oCi5o-gTyZU", width="500px")
  .navbar-b
    a(href="/") Home
    a(href="/contact") Contact
    a(href="/orderform") Order Form
    a(href="/dogs") Check out dogs here!
    a(href="/menupage") Pick your dog here!
    p.
      Rent-A-Dog Foundation 2017
