extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  p dogs page
  block footer
  footer
  ul
  li
  a(href="/") Home
  li
  a(href="/contact") Contact
  li
  a(href="/orderform") Order Form
  li
  a(href="/menupage") Pick your dog here!
  li.
  p.
    Rent-A-Dog Foundation 2017
  footer
